@charset "utf-8";
/* CSS Document */

body {
    background-color: #00FF00;
}

#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}
table, th, td {
	border: 1px solid black; 
	border-collapse: collapse;
	}
.section {
    width:350px;
    float:left;
    padding:10px; 
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}